html,body{
  background-color: aqua;
  background-image: url("/static/book.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.review h4{
  display: inline
}

.review h4{
  display: inline
}

