{% extends "layout.html" %}

{% block main %}

{#Book template #}
<div class="container mt-3">
{% if message != none %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    </div>
{% endif %}

<div class="container my-4 py-2 bg-light">
    <h2> Log in</h2>

    <form action="{{ url_for('trylog') }}" method="post">


  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>



  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}