{% extends "layout.html" %}

{% block main %}
{% for iten in name %}
{#Book template #}

<div class="container my-4 pt-2 bg-light">
    <div class="row"  style="padding-bottom: 10px">
        <div class="col-3 col-md-1"> <img src="../static/book.jpg" class="img-fluid"> </div>
        <div class="col ">
            <div class="row">
                <div class="col"><h3> This is the book title</h3></div>
            <div class="w-100"></div>
                <div class="col"><h5 style="display:inline;">Author  |</h5>  <h6 style="display:inline;">31283701237</h7></h2></div>
            <div class="w-100"></div>
                <div class="col">
                <h5>5.5</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}